In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('C:/Users/Alper/fuzzy/Fuzzy_Logic/Dataset/Loan.csv') #path of dataset

In [6]:
df.head().T

,0,1,2,3,4
ApplicationDate,2018-01-01,2018-01-02,2018-01-03,2018-01-04,2018-01-05
Age,45,38,47,58,37
AnnualIncome,39948,39709,40724,69084,103264
CreditScore,617,628,570,545,594
EmploymentStatus,Employed,Employed,Employed,Employed,Employed
EducationLevel,Master,Associate,Bachelor,High School,Associate
Experience,22,15,26,34,17
LoanAmount,13152,26045,17627,37898,9184
LoanDuration,48,48,36,96,36
MaritalStatus,Married,Single,Married,Single,Married
NumberOfDependents,2,1,2,1,1
HomeOwnershipStatus,Own,Mortgage,Rent,Mortgage,Mortgage
MonthlyDebtPayments,183,496,902,755,274
CreditCardUtilizationRate,0.354418,0.087827,0.137414,0.267587,0.320535
NumberOfOpenCreditLines,1,5,2,2,0
NumberOfCreditInquiries,2,3,0,1,0
DebtToIncomeRatio,0.358336,0.330274,0.244729,0.436244,0.078884
BankruptcyHistory,0,0,0,0,0
LoanPurpose,Home,Debt Consolidation,Education,Home,Debt Consolidation
PreviousLoanDefaults,0,0,0,0,0
PaymentHistory,29,21,20,27,26
LengthOfCreditHistory,9,9,22,10,27
SavingsAccountBalance,7632,4627,886,1675,1555
CheckingAccountBalance,1202,3460,895,1217,4981
TotalAssets,146111,53204,25176,104822,244305
TotalLiabilities,19183,9595,128874,5370,17286
MonthlyIncome,3329.0,3309.083333,3393.666667,5757.0,8605.333333
UtilityBillsPaymentHistory,0.724972,0.935132,0.872241,0.896155,0.941369
JobTenure,11,3,6,5,5
NetWorth,126928,43609,5205,99452,227019
BaseInterestRate,0.199652,0.207045,0.217627,0.300398,0.197184
InterestRate,0.22759,0.201077,0.212548,0.300911,0.17599
MonthlyLoanPayment,419.805992,794.054238,666.406688,1047.50698,330.17914
TotalDebtToIncomeRatio,0.181077,0.389852,0.462157,0.313098,0.07021
LoanApproved,0,0,0,0,1
RiskScore,49.0,52.0,52.0,54.0,36.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ApplicationDate             20000 non-null  object
 1   Age                         20000 non-null  int64
 2   AnnualIncome                20000 non-null  int64
 3   CreditScore                 20000 non-null  int64
 4   EmploymentStatus            20000 non-null  object
 5   EducationLevel              20000 non-null  object
 6   Experience                  20000 non-null  int64
 7   LoanAmount                  20000 non-null  int64
 8   LoanDuration                20000 non-null  int64
 9   MaritalStatus               20000 non-null  object
 10  NumberOfDependents          20000 non-null  int64
 11  HomeOwnershipStatus         20000 non-null  object
 12  MonthlyDebtPayments         20000 non-null  int64
 13  CreditCardUtilizationRate   20000 non-null  float64
 14  NumberOfOpenCreditLines     20000 non-null  int64
 15  NumberOfCreditInquiries     20000 non-null  int64
 16  DebtToIncomeRatio           20000 non-null  float64
 17  BankruptcyHistory           20000 non-null  int64
 18  LoanPurpose                 20000 non-null  object
 19  PreviousLoanDefaults        20000 non-null  int64
 20  PaymentHistory              20000 non-null  int64
 21  LengthOfCreditHistory       20000 non-null  int64
 22  SavingsAccountBalance       20000 non-null  int64
 23  CheckingAccountBalance      20000 non-null  int64
 24  TotalAssets                 20000 non-null  int64
 25  TotalLiabilities            20000 non-null  int64
 26  MonthlyIncome               20000 non-null  float64
 27  UtilityBillsPaymentHistory  20000 non-null  float64
 28  JobTenure                   20000 non-null  int64
 29  NetWorth                    20000 non-null  int64
 30  BaseInterestRate            20000 non-null  float64
 31  InterestRate                20000 non-null  float64
 32  MonthlyLoanPayment          20000 non-null  float64
 33  TotalDebtToIncomeRatio      20000 non-null  float64
 34  LoanApproved                20000 non-null  int64
 35  RiskScore                   20000 non-null  float64
dtypes: float64(9), int64(21), object(6)
memory usage: 5.5+ MB

In [8]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Age,20000.0,39.752600,11.622713,18.000000,32.000000,40.000000,48.000000,8.000000e+01
AnnualIncome,20000.0,59161.473550,40350.845168,15000.000000,31679.000000,48566.000000,74391.000000,4.853410e+05
CreditScore,20000.0,571.612400,50.997358,343.000000,540.000000,578.000000,609.000000,7.120000e+02
Experience,20000.0,17.522750,11.316836,0.000000,9.000000,17.000000,25.000000,6.100000e+01
LoanAmount,20000.0,24882.867800,13427.421217,3674.000000,15575.000000,21914.500000,30835.000000,1.847320e+05
LoanDuration,20000.0,54.057000,24.664857,12.000000,36.000000,48.000000,72.000000,1.200000e+02
NumberOfDependents,20000.0,1.517300,1.386325,0.000000,0.000000,1.000000,2.000000,5.000000e+00
MonthlyDebtPayments,20000.0,454.292700,240.507609,50.000000,286.000000,402.000000,564.000000,2.919000e+03
CreditCardUtilizationRate,20000.0,0.286381,0.159793,0.000974,0.160794,0.266673,0.390634,9.173801e-01
NumberOfOpenCreditLines,20000.0,3.023350,1.736161,0.000000,2.000000,3.000000,4.000000,1.300000e+01
NumberOfCreditInquiries,20000.0,0.993000,0.986965,0.000000,0.000000,1.000000,2.000000,7.000000e+00
DebtToIncomeRatio,20000.0,0.285735,0.160211,0.001720,0.161035,0.264454,0.390327,9.022527e-01
BankruptcyHistory,20000.0,0.052400,0.222838,0.000000,0.000000,0.000000,0.000000,1.000000e+00
PreviousLoanDefaults,20000.0,0.100050,0.300074,0.000000,0.000000,0.000000,0.000000,1.000000e+00
PaymentHistory,20000.0,23.993650,4.945436,8.000000,21.000000,24.000000,27.000000,4.500000e+01
LengthOfCreditHistory,20000.0,14.957300,8.371552,1.000000,8.000000,15.000000,22.000000,2.900000e+01
SavingsAccountBalance,20000.0,4946.052150,6604.887477,73.000000,1541.750000,2986.000000,5873.250000,2.000890e+05
CheckingAccountBalance,20000.0,1782.555100,2245.378812,24.000000,551.000000,1116.000000,2126.000000,5.257200e+04
TotalAssets,20000.0,96964.395500,120799.939219,2098.000000,31180.250000,60699.000000,117405.250000,2.619627e+06
TotalLiabilities,20000.0,36252.412750,47251.510913,372.000000,11196.750000,22203.000000,43146.500000,1.417302e+06
MonthlyIncome,20000.0,4891.715521,3296.771598,1250.000000,2629.583333,4034.750000,6163.000000,2.500000e+04
UtilityBillsPaymentHistory,20000.0,0.799918,0.120665,0.259203,0.727379,0.820962,0.892333,9.994328e-01
JobTenure,20000.0,5.002650,2.236804,0.000000,3.000000,5.000000,6.000000,1.600000e+01
NetWorth,20000.0,72294.318850,117920.021444,1000.000000,8734.750000,32855.500000,88825.500000,2.603208e+06
BaseInterestRate,20000.0,0.239124,0.035509,0.130101,0.213889,0.236157,0.261533,4.050290e-01
InterestRate,20000.0,0.239110,0.042205,0.113310,0.209142,0.235390,0.265532,4.467873e-01
MonthlyLoanPayment,20000.0,911.607052,674.583473,97.030193,493.763700,728.511452,1112.770759,1.089263e+04
TotalDebtToIncomeRatio,20000.0,0.402182,0.338924,0.016043,0.179693,0.302711,0.509214,4.647657e+00
LoanApproved,20000.0,0.239000,0.426483,0.000000,0.000000,0.000000,0.000000,1.000000e+00
RiskScore,20000.0,50.766780,7.778262,28.800000,46.000000,52.000000,56.000000,8.400000e+01